<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <style type="text/css">
      /* CSS for specific screen width(s) */
      @media only screen and (max-width: 480px) {
        body,table,td,p,a,li,blockquote {-webkit-text-size-adjust:none !important;}
          body[yahoofix] table {width: 100% !important;}
          body[yahoofix] .logoContainer, body[yahoofix] .featuredTitle , body[yahoofix] .featuredContent {text-align: center;}
          body[yahoofix] .preheaderContent{text-align: center;}
          body[yahoofix] .buttonContainer {padding: 0px 20px 0px 20px;}
          body[yahoofix] .column {float: left; width: 100%;}
          body[yahoofix] #featuredImage {text-align: center;}
          body[yahoofix] .featuredTitle {line-height: 24px; font-weight: normal !important; padding: 0px 10px 25px 10px;}
          body[yahoofix] .featuredContent {padding: 0px 10px 20px 10px;}
        }
    </style>
  </head>
  <body yahoofix>
    <span id="body_style" style="display:block; margin: 0; padding: 0; background: #f1f1f1; color: #5b656e;">
      <!-- topHeader -->
      <table border="0" cellspacing="0" cellpadding="0" width="100%" summary="" class="topHeader" style="margin-top: 10px; margin-bottom: 10px; border-collapse: collapse;">
        <tr>
          <td style="border-collapse: collapse; font-family: arial, helvetica, sans-serif; color: #313a42;">
            <!-- Logo (branding) -->
            <table border="0" cellspacing="0" cellpadding="0" width="640" align="center" summary="" style="border-collapse: collapse;">
              <tr>
                <td class="logoContainer" align="center" style="font-family: arial, helvetica, sans-serif; color: #313a42;border-collapse: collapse; padding: 20px 0 10px 0px; width: 320px;">
                  <a href="/" title="Lorem logo" style="color: #ffffff;">
                    <img class="logo" style="width: 300px; border: none; text-decoration: none;" src="http://dentalbeta.tk/view/templates/default/img/DentalLivramentoLogoFinal.png" alt="logo" />
                  </a>
                </td>
              </tr>
            </table>
            <!-- End Logo (branding) -->
          </td>
        </tr>
      </table>
      <!-- End topHeader -->
      <!-- featuredHeader -->
      <table border="0" cellspacing="0" cellpadding="0" width="100%" summary="" class="featuredHeader" style="border-collapse: collapse; background: #00a0e3;">
        <tr>
          <td class="section" style="border-collapse: collapse; padding: 20px 0px 0px 0px;">
            <table border="0" cellspacing="0" cellpadding="0" width="640" align="center" summary="" style="border-collapse: collapse;">
              <tr>
                <td class="column" style="border-collapse: collapse;">
                  <table border="0" cellspacing="0" cellpadding="0" width="395" summary="" style="border-collapse: collapse;">
                    <tr>
                      <td class="featuredTitle" style="border-collapse: collapse; font-family: arial, helvetica, sans-serif; color: #ffffff; font-size: 26px; padding: 0px 0px 10px 0px; font-weight: bold;">
                        Você tem novos '.$titulo.'!
                      </td>
                    </tr>
                    <tr>
                      <td class="featuredContent" style="border-collapse: collapse; font-family: arial, helvetica, sans-serif; color: #ffffff;">
                        Pode ser que você tenha novos '.$titulo.'.<br>Acesse o site na sessão Admin e confira!
                      </td>
                    </tr>
                  </table>
                </td>
                <td id="featuredImage" class="column" style="border-collapse: collapse; display: block; margin: 0 auto;"><img src="phone.png" width="234" alt="phone" /></td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
      <!-- End featuredHeader -->
      <!-- Section -->
      <table border="0" cellpadding="0" cellspacing="0" width="100%" summary="" style="border-collapse: collapse;">
        <tr>
          <td class="sectionEven" style="border-collapse: collapse; background-color: #ffffff;padding: 30px 0px 30px 0px;">
            <table border="0" cellpadding="0" cellspacing="0" width="640" align="center" summary="" style="border-collapse: collapse;">
            <tr>
                <td class="buttonContainer" style="border-collapse: collapse; padding: 10px 20px 10px 20px;">
                  <table border="0" cellpadding="0" cellspacing="0" summary="" width="30%" align="center" style="border-collapse: collapse;">
                    <tr><td class="button" style="border-collapse: collapse; font-family: arial, helvetica, sans-serif; padding: 10px 5px 10px 5px; text-align: center; background-color: #00a0e3; border-radius: 4px;">
                      <a href="http://www.dentallivramento.com.br/Admin" title="ipsum" style="color: #ffffff; text-decoration: none; display: block; text-transform: uppercase;">acessar admin</a></td></tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
      <!-- End Section -->
      <!-- Social media -->
      <table border="0" cellspacing="0" cellpadding="0" width="100%" summary="" class="socialMedia" style="border-collapse: collapse; background: #556270;">
        <tr><td class="whitespace" height="20" style="border-collapse: collapse; font-family: 0px; line-height: 0px;">&nbsp;</td></tr>
        <tr>
          <td>
            <table border="0" cellspacing="0" cellpadding="0" width="120" align="center" summary="" style="border-collapse: collapse;">
              <tr>
                <td align="center" width="32" style="border-collapse: collapse;">
                  <a href="https://www.instagram.com/dentallivramento/" title="Twitter"><img src="https://clipart.info/images/ccovers/1522452763logo-instagram-png-white.png" width="29" alt="Instagram" style="border: none; text-decoration: none;" /></a>
                </td>
                <td align="center" width="32" style="border-collapse: collapse;">
                  <a href="https://www.facebook.com/DentalLivramento/" title="Facebook"><img src="faceb.png" width="29" style="border: none; text-decoration: none;" alt="Facebook" /></a>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr><td class="whitespace" height="10" style="border-collapse: collapse; font-family: 0px; line-height: 0px;">&nbsp;</td></tr>
      </table>
      <!-- End Social media -->
      <!-- FOOTER -->
      <table border="0" cellspacing="0" cellpadding="0" width="100%" summary="" class="footer" style="border-collapse: collapse;">
        <tbody><tr><td class="whitespace" height="10" style="border-collapse: collapse; font-family: 0px; line-height: 0px;">&nbsp;</td></tr>
        <tr>
          <td>
            <table border="0" cellspacing="0" cellpadding="0" align="center" summary="" style="border-collapse: collapse;">
              <tbody><tr>
                <td class="footNotes" align="center" style="border-collapse: collapse; padding: 0px 20px 0px 20px;">
                  <p title="Lorem" style="color: #556270; font-size: 13px; font-family: arial, helvetica, sans-serif; margin: 0 0 1.6em 0;">Este é um email automático, não responda. Para entrar em contato utilize os meios disponíveis pelo site.</p>
                </td>
              </tr>
            </tbody></table>
          </td>
        </tr>
        <tr><td class="whitespace" height="10" style="border-collapse: collapse; font-family: 0px; line-height: 0px;">&nbsp;</td></tr>
      </tbody></table>
      <!-- END FOOTER -->
    </span>
  </body>
</html>
