/* NOSSOS ESTILOS CUSTOMIZADOS */

.mouse-grab{
  cursor: grab;
}

.mouse-grab:active{
  cursor: grabbing;
}

.table-espec{
  width: 80% !important;
}

@media (max-width: 500px) {
  .table-espec{
    width: 100% !important;
  }
}
