/* NOSSOS ESTILOS CUSTOMIZADOS */

.mouse-grab{
  cursor: grab;
}

.mouse-grab:active{
  cursor: grabbing;
}

.table-espec{
  width: 80% !important;
}

@media (max-width: 500px) {
  .table-espec{
    width: 100% !important;
  }
  .font-table-cart{
    font-size: 10px !important;
    font-weight: 400 !important;
  }
  .list-unstyled li{
    font-size: 120% !important;
  }
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}

input:invalid{
  background-color: lightcoral;
  border-color: red;color:white
}
