/* NOSSOS ESTILOS CUSTOMIZADOS */

::-webkit-scrollbar-button{ display: block; height: 1px; border-radius: 0px; background-color: #ffffff; } ::-webkit-scrollbar-button:hover{ background-color: #ffffff; } ::-webkit-scrollbar-thumb{ background-color: #00bafa; border-radius: 10px; } ::-webkit-scrollbar-thumb:hover{ background-color: #0088e6; } ::-webkit-scrollbar-track{ background-color: #ffffff; } ::-webkit-scrollbar-track:hover{ background-color: #ffffff; } ::-webkit-scrollbar{ width: 13px; }

#mySidenav a {
  position: fixed !important; /* Position them relative to the browser window */
  right: -80px; /* Position them outside of the screen */
  transition: 0.3s; /* Add transition on hover */
  padding: 15px; /* 15px padding */
  width: 100px;
  text-decoration: none; /* Remove underline */
  font-size: 20px; /* Increase font size */
  color: white; /* White text color */
  border-radius: 5px 0 0 5px; /* Rounded corners on the top right and bottom right side */
  z-index:9999;
  float: right;
}

#mySidenav a:hover {
  right: -5px; /* On mouse-over, make the elements appear as they should */
}

/* The about link: 20px from the top with a green background */
#about {
  top: 150px;
  background-image: linear-gradient(#4CAF50,lightgreen);
}

body{
  overflow-y: scroll;
  overflow-x: hidden !important;
}

.mouse-grab{
  cursor: grab;
}

.mouse-grab:active{
  cursor: grabbing;
}

.table-espec{
  width: 80% !important;
}

@media (max-width: 500px) {
  .table-espec{
    width: 100% !important;
  }
  .botao-insta{
    margin-top: 20px;
  }
  .produto-box{
    width: 50% !important;
  }
  .font-table-cart{
    font-size: 10px !important;
    font-weight: 400 !important;
  }
  .list-unstyled li{
    font-size: 120% !important;
  }
  .Vizualizando{
    display: none;
  }
  .select-shop{
    float: none !important;
    padding-left: 12%;
  }
  .heightiado{
    padding-top: 4%;
    height: 200px;
    }
  .box-v2 h4{
    font-size: 15px !important;
  }

  .box-v2 i{
    font-size: 40px !important;
  }

  .box-v2 span{
    font-size: 10px !important;
  }
  .featuredProducts{
    margin-bottom: 0px !important;
  }
  .boxes-index{
    display: none;
  }
  .quant-prod{
    display: none;
  }
}
@media (max-width: 700px) {
  .modalBar{
    width: 100% !important;
    padding-top: 0px;
  }
  .modal-body{
    padding-right: 15px !important;
  }
  .menuBar{
    display: none;
  }
  .sectionPadding{
    padding-top: 45px;
  }
}


input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}

*::selection {
    background: lightblue;
    color: #343434;
}

.modalBar{
  width: 100%;
}

@media (min-width: 770px) {
    .logo-nav{
        width: 200px;
        height: auto;
        padding-top: 0;
    }
    .search-field-pc{
        display: inline-block;
    }
    .search-field-mobile{
        display: none;
    }
}
@media (max-width: 768px) {
    .search-field-pc{
        display: none;
    }
    .search-field-mobile{
        display: initial;
    }
}
@media (max-width: 1000px) {
    .logo-nav{
        width:150px;
        height: auto;
        padding-top: 0;
    }
    .another-one-bites-the-dust{
        padding-top: 15px;
    }
}

@media (max-width: 700px) {
    .navbar-brand{
        padding-top: 0 !important;
        padding-bottom: 5px !important;
    }
}

@media (max-width: 300px) {
    .logo-nav{
        width:150px;
        height: auto;
        padding-top: 0;
    }
}

.box-v2{
  background-color: transparent;
  border: 3px solid #e4e4e4;
  transition: all 0.3s ease;
}

@media (max-width: 400px) {
    .btn-finalizar{
        margin-top: 10px;
    }

    .img-slider{
      height: auto !important;
      width: 120px !important;
      margin-top: 50px !important;
    }
}

.mm-navbar__breadcrumbs{
    overflow-x: hidden !important;
}

.h1-topbar{
    color: white;
    font-family: GothicBold;
    text-transform: uppercase;
    font-size: small;
    padding-top: 10px;
}

@media (max-width: 350px) {
    .h1-topbar{
    padding-bottom: 10px;
}
}
.navbar-nav{
    background-color: #f5f5f5;
}

span.fa-bars{
    padding: 7px;
}

